*{
    padding:0;
    margin:0;
}

body{
  font-family: 'Oswald', sans-serif;
} 
.article{
    padding: 3em 2%; 
    margin: 1em 5%;
    background-color: darkgrey; 
  }

.box {
  text-align:center;
  width: 22rem;
  height: 12rem;
  margin: 1em 5%;
  background-color: lightgrey;
  border: 5px solid darkcyan;
}

.menu {
  width:100%;
  color: white;
  background-color: darkcyan ;
  opacity:0.7;
  position: fixed;
  
  /*min-width: 400px; */
}
/*
.btn {
	color: orange;
  border-color:transparent;
  background-color:transparent;
	font-size:25px;
	height:45px;
	
	width:100px;
	text-align:right;

}.btn:active {
	border-color: transparent;
  position:relative;
	top:-5px;
  color: yellow;
}
 */     

@media all and (min-device-width: 1200px){   /* on regular big screen */
    .headline{
      font-size: 16pt;
    }
    .para{
      font-size: 100%;
    }
  }


@media only screen    /* works only on iPhone  */
and (min-device-width : 320px) and (max-device-width : 568px) {
    
    .article{
        width:500px;
    }
    .menu{
     width: 100%;
     height: 25%;
     font-size: 150%;
   } 
    .headline{
      margin-top: 2em;
      color:red;
      font-size: 300%;
    }
    .para{
     color:red;
      font-size: 30pt; 
    }
  }  

