*{
    padding:0;
    margin:0;
    outline: 1px dashed cyan;
}

body{
  font-family: 'Oswald', sans-serif;
} 
.article{
    padding: 3em 0; 
    margin: 1em 0.5%;
    background-color: darkgrey; 
  }
/*
.box {
  
  text-align:center;
  width: 100%;
  height: ;
  
  background-color: lightgrey;
  border: 5px solid purple;
}
*/
.pic{
    min-width: 100%;
    max-height: 600px;
}
.menu {
  width:100%;
  color: white;
  background-color: darkcyan ;
  opacity:0.6;
  position: fixed;
  
  
}
/*
.btn {
	color: orange;
  border-color:transparent;
  background-color:transparent;
	font-size:25px;
	height:45px;
	
	width:100px;
	text-align:right;

}.btn:active {
	border-color: transparent;
  position:relative;
	top:-5px;
  color: yellow;
}
 */     

@media all and (min-device-width: 1200px){   /* on regular big screen */
    .headline{
      font-size: 1rem;
    }
  }

/* Iphone Portrait */
@media only screen and (min-width: 320px){
 *{ color: orange; }
    body{ font-size: 3rem; }   
}

/*  Iphone Landscape */
@media only screen and (min-width: 568px){
    *{ color: blue; }
    body{ font-size: 3rem; }
}

/*
@media only screen    
and (min-device-width : 320px) and (max-device-width : 568px) {
    
    .article{
        max-width:500px;
    }
    .menu{
     width: 100%;
     height: 25%;
     font-size: 150%;
   } 
    .headline{
      margin-top: 2em;
      color:red;
      font-size: 300%;
    }
    .para{
     color:red;
      font-size: 30pt; 
    }
*/
  }  

